<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Developer</title>
</head>
<body>
    <h1>welcome to developer section</h1>
    <form action="/users/add" method="post">
        <label for="">Names </label>
        <input type="text" name="jina" placeholder="Enter username here">
        <br>
        <label for="">Email </label>
        <input type="email" name="arafa" placeholder="Enter email here">
        <br>
         <label for="">Password </label>
        <input type="password" name="basswad" placeholder="Enter password here">
        <br>
        <input type="submit" value="Add data">
    </form>

    {% if users %}
        {% for user in users %}
            <p>ID : {{user.id}}</p>
            <p>Names : {{user.username}}</p>
            <p>Email : {{user.email}}</p>
            <p>Password : {{user.password}}</p>
            <hr>
        {% endfor %}
    {% else %}
        <p>No users available</p>
    {% endif %}

</body>
</html>